<mat-tab-group>
  <!-- <mat-tab label="{{labels.wiktionary}}" *ngIf="hasTool('wiktionary')">
    <tool-wikitionary></tool-wikitionary>
  </mat-tab> -->
  <!-- <mat-tab label="{{labels.quiver}}" *ngIf="hasTool('quiver')">
    <tool-quiver></tool-quiver>
  </mat-tab> -->
  <!-- <mat-tab label="{{labels.tables}}" *ngIf="hasTool('tables')">
    <tool-tables></tool-tables>
  </mat-tab> -->
  <mat-tab label="{{labels.citations}}" *ngIf="hasTool('citations')">
    <tool-citations></tool-citations>
  </mat-tab>
  <mat-tab label="{{labels.comments}}" *ngIf="hasTool('comments')">
    <tool-comments></tool-comments>
  </mat-tab>
  <mat-tab label="{{labels.maths}}" *ngIf="hasTool('maths')">
    <tool-maths></tool-maths>
  </mat-tab>
  <mat-tab label="{{labels.pomodoro}}" *ngIf="hasTool('pomodoro')">
    <tool-pomodoro></tool-pomodoro>
  </mat-tab>
  <mat-tab label="{{labels.wordcloud}}" *ngIf="hasTool('wordcloud')">
    <tool-wordcloud></tool-wordcloud>
  </mat-tab>
  <mat-tab label="{{labels.settings}}">
    <tool-settings></tool-settings>
  </mat-tab>
</mat-tab-group>